<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation for the whatsoftware project</title>
    <script type="module" src="/js/index.js"></script>
</head>
<body>
<!-- just practicing spa with javascript -->
    <div id="content">
         <!-- To be populated by javascript -->
         <div id="js-alert" style="text-align: center;"> You need javascript to run this application </div>
    </div>

</body>
</html>